<div class="header-bar dark-blue hidden-xs blue-before-footer">
  <p class="text-center white-text letter-spacing-2 base-font-size font-sanchez"><a href="tel:6152271600" class="white-text no-dec">615.227.1600</a> <br class="visible-xs">• 1600 McGavock Street • <br class="visible-xs"><a href="mailto:TheCadence@LincolnApts.com?subject=Tell%20me%20more%20about%20The%20Cadence!" class="white-text no-dec">TheCadence@LincolnApts.com</a></p>
</div>
<footer>
  <p class="text-center footer-pad dark-blue-text font-sanchez letter-spacing-100">
    <a href="https://www.facebook.com/TheCadenceNashville"><i class="fa fa-facebook fa-2x"></i></a>
    &nbsp
    <a href="https://twitter.com/TheCadence_Apts"><i class="fa fa-twitter fa-2x"></i></a>
    &nbsp
    <a href="https://www.instagram.com/TheCadence_Apts/"><i class="fa fa-instagram fa-2x"></i></a>
    &nbsp
    <a href="https://www.pinterest.com/thecadence0144/"><i class="fa fa-pinterest fa-2x"></i></a>
    &nbsp
    <a href="#"><i class="fa fa-yelp fa-2x"></i></a>
    &nbsp
    <a href="#"><i class="fa fa-google fa-2x"></i></a>
    &nbsp
    <a href="#"><i class="fa fa-foursquare fa-2x"></i></a>
    <br>
    Developed by Phoenix Property Company · <a href="http://www.phoenixpropertyco.com" class="no-dec dark-blue-text" target="_blank">www.phoenixpropertyco.com</a>  <img src="img/equal.png" alt="Equal Housing Opportunity" class="equal-op" /><br>
  </p>
</footer>
