<div id="menu-collapse" class="menu orange collapse" data-spy="affix">
  <a data-toggle="collapse" href="#menu-collapse"><img src="img/menu-x.png" class="close-me" alt="" /></a>
  <div class="inner-menu">
    <h2 class="white-text font-opensans letter-spacing-100"><a href="index.html" class="menu-link">HOME</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="amenities.html" class="menu-link">AMENITIES & FEATURES</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="neighborhood.html" class="menu-link">NEIGHBORHOOD</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="find.html" class="menu-link">FIND A HOME</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="siteplan.html" class="menu-link">SITE PLAN</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="gallery.html" class="menu-link">GALLERY</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="tour.html" class="menu-link">VIRTUAL TOUR</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="guest_card.html" class="menu-link">GUEST CARD</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a target="_blank" href="https://thecadence.prospectportal.com/Apartments/module/application_authentication/property[id]/249406/show_in_popup/false/kill_session/1/" class="menu-link">APPLY NOW</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="portal.html" class="menu-link">RESIDENT PORTAL</a></h2>
  </div>
</div>
